<div class="container padded">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h2>Edit notes</h2>

      <%= simple_form_for @student, url: update_notes_student_path(@student) do |f| %>

      <div class="form-inputs">
        <%= f.input :notes, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update notes" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
