<div class="container padded">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h2>Edit notes</h2>

      <%= simple_form_for @student, url: update_notes_student_path(@student) do |f| %>

      <div class="form-inputs">
        <%= f.input :notes, as: :text, input_html: {rows: 9, class: 'notes'}, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update notes" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script src="components/wysihtml5x/dist/wysihtml5x-toolbar.min.js"></script>
<script src="dist/bootstrap3-wysihtml5.all.min.js"></script>
<script src="bootstrap3-wysihtml5.min.js"></script>
<script type="text/javascript">
$('#student_notes').wysihtml5({
    toolbar: {
      fa: true
    }
  });
</script>
