<%= form_tag(students_path, :method => "get", class: 'inline-form', id: "search") do %>
<%= text_field_tag :company, params[:company], placeholder: "Search by company", class: 'select select_company' %>
<div class="blank-space"></div>
<%= submit_tag "Go", class: "btn btn-primary homepage-button" %>
<% end %>
