<div class="container padded">
  <h3>Attendance report</h3>
  <%= render 'shared/attendance_report' %>
  <h3>Sign-in sheet</h3>
  <%= render 'shared/signin_sheet' %>
  <h3>Michigan score report</h3>
  <%= render 'shared/score_report' %>
  <h3>Student progress report</h3>
  <%= render 'shared/progress_report' %>
</div>
