<div class="container padded">
  <div class="home-search">
  <h3>Search students</h3>
    <%= render 'shared/filter_lastname' %>
    <br>
    <%= render 'shared/filter_company' %>
  </div>
  <div class="home-search">
    <h3>Search metaclasses</h3>
    <%= render 'shared/search_metaclass' %>
  </div>
  <div class="home-search">
    <h3>Search Michigan tests</h3>
    <%= render 'shared/search_assignment' %>
  </div>
</div>
