<div class="container padded">
  <ul>
    <li>
      <%= link_to "Attendance report (Excel)" %>
    </li>
    <li>
      <%= link_to "Student progress report (PDF)" %>
    </li>
    <li>
      <%= link_to "Michigan score report (PDF)" %>
    </li>
  </ul>
</div>
