  <div class="row">
    <div class="col-md-12">
      <p><%= @metaclass.metaclassnote.html_safe if @metaclass.metaclassnote.present? %></p>
      <br>
      <%= link_to edit_notes_metaclass_path do %>
      <p class="fa fa-pencil"> Edit</p>
      <% end %>
    </div>
  </div>
